.App {
  text-align: center;
}

.App-logo {
  background: var(--greyLight-1);
  border: 5px solid var(--white);
  border-radius: 50%;
  height: 25vmin;
  pointer-events: none;
  width: 25vmin;
  transform: translateY(-50%);
}

.container {
  background: var(--greyLight-1);
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -75%);
  width: 80%;;
  /* -webkit-border-radius: 5px; 
  -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff; */
}

  .container label {
    color: #636363;
    display: block;
  }

.title {
  border: 1px solid #4e9cf5;
  border-radius: 1rem;
  box-shadow: 1px 1px .5rem #4e9cf5;
  color: #4e9cf5;
  font-family: 'Adventure-Subtitles';
  font-size: x-large;
  left: 50%;
  padding: .3rem;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 80%;
}