.avatar-custom {
  border: 2px solid var(--primary-light);
  image-rendering: -web-kit-optimize-contrast;
  image-rendering: optimizeQuality;
}

.card-header-custom {
  display: flex;
  place-content: center;
}

.app-label-custom {
  margin-top: .5rem;
}

.btn-custom {
  margin: 1rem .15rem;
  width: 100%;
}

.btn-div {
  display: flex;
  place-content: center;
}

.title {
  align-items: center;
  border: 1px solid var(--primary-light);
  border-radius: 1rem;
  box-shadow: 1px 1px .5rem var(--primary-light);
  display: flex;
  color: var(--primary-light);
  flex-direction: column;
  font-family: 'Adventure-Subtitles';
  justify-content: center;
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
  padding: .3rem;
  width: 80%;
}

.title-name {
  font-size: x-large;
}

.title-desc {
  font-size: medium;
}